.choiceBtn{
    line-height: 30px;
    width: 150px;
}
div{
    font-family: 'Lucida Calligraphy';
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: lightgrey;
    text-align: center;
}
#myplayer{
    color: blue;
}
#mycomputer{
    color: red;
}